@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/NotoSans.ttc') format('ttc');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-Black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-BlackItalic.otf') format('otf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-BoldItalic.otf') format('otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-Condensed.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedBlack.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedBlackItalic.otf') format('otf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedBoldItalic.otf') format('otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedExtraBold.otf') format('otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedExtraBoldItalic.otf') format('otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedExtraLight.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedExtraLightItalic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedItalic.otf') format('otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedLight.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedLightItalic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedMedium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedMediumItalic.otf') format('otf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedSemiBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedSemiBoldItalic.otf') format('otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedThin.otf') format('otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-CondensedThinItalic.otf') format('otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraBold.otf') format('otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraBoldItalic.otf') format('otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensed.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedBlack.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedBlackItalic.otf') format('otf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedBoldItalic.otf') format('otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedExtraBold.otf') format('otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedExtraBoldItalic.otf') format('otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedExtraLight.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedExtraLightItalic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedItalic.otf') format('otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedLight.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedLightItalic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedMedium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedMediumItalic.otf') format('otf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedSemiBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedSemiBoldItalic.otf') format('otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedThin.otf') format('otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraCondensedThinItalic.otf') format('otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraLight.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ExtraLightItalic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-Italic.otf') format('otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-LightItalic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-MediumItalic.otf') format('otf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiBoldItalic.otf') format('otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensed.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedBlack.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedBlackItalic.otf') format('otf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedBoldItalic.otf') format('otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedExtraBold.otf') format('otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedExtraBoldItalic.otf') format('otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedExtraLight.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedExtraLightItalic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedItalic.otf') format('otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedLight.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedLightItalic.otf') format('otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedMedium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedMediumItalic.otf') format('otf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedSemiBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedSemiBoldItalic.otf') format('otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedThin.otf') format('otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-SemiCondensedThinItalic.otf') format('otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-Thin.otf') format('otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/OTF/NotoSans-ThinItalic.otf') format('otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-BlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-Condensed.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedBlack.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedBlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedBoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedExtraLight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedExtraLightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedLight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedLightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedMedium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedMediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedSemiBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedSemiBoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedThin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-CondensedThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensed.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedBlack.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedBlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedBoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedExtraLight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedExtraLightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedLight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedLightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedMedium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedMediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedSemiBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedSemiBoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedThin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraCondensedThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraLight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ExtraLightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiBoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensed.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedBlack.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedBlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedBoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedExtraLight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedExtraLightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedLight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedLightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedMedium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedMediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedSemiBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedSemiBoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedThin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-SemiCondensedThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/TTF/NotoSans-ThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedBoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedExtraLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedExtraLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedSemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedSemiBoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-CondensedThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedBoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedExtraLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedExtraLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedSemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedSemiBoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraCondensedThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ExtraLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiBoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedBoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedExtraLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedExtraLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedSemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedSemiBoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-SemiCondensedThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF/NotoSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-Condensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedBlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedBoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedExtraLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedExtraLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedMediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedSemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedSemiBoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedThin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-CondensedThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedBlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedBoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedExtraLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedExtraLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedMediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedSemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedSemiBoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedThin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraCondensedThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ExtraLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiBoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedBlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedBoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedExtraLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedExtraLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedMediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedSemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedSemiBoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedThin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-SemiCondensedThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('Noto Sans/WOFF2/NotoSans-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
